<div class="col-md-12">
    <div class="card card-user" [ngStyle]="{'background-image':'url('+topPhoto+')'}"
        style="transform: translate3d(0px, 0px, 0px); background-size: cover;">
        <div class="card-body" style="background-color: #ffffff; margin-top: 11rem;">
            <div class="col-md-12">
                <div class="col-md-12" style="text-align: center; margin-top: -4rem;">
                    <img src="{{companyPhoto}}"
                        style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); max-width: 10rem; max-height: 10rem; border-color: #ffffff; border-width: 2px;" />
                </div>

            </div>
        </div>
    </div>
</div>