<div class="col-md-12">
  <div class="card card-user" style="background-position-x: right;
  background-position-y: top; background-image: url(http://localhost:4200/assets/img/pusheen/26-flip-vertical.png);
  background-repeat: no-repeat;">
    <div class="card-header">
      <h5 class="card-title" style="background: #ffffff; width: fit-content;">Create a new user account</h5>
    </div>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <div class="col-md-4">
                <input type="file" formControlName="Photo" style="max-width: 10rem; max-height: 10rem;" #Image
                  accept="image/*" (change)="uploadPhoto($event.target.files)" class="form-control btn btn-primary"
                  placeholder="Photo">
                <img [src]="imageUrl" class="avatar"
                  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); max-width: 10rem; max-height: 10rem; border-color: #ffffff; border-width: 2px;">
                <div *ngIf="submitted && f.Photo.errors" class="invalid-feedback">
                  <div *ngIf="f.Photo.errors.required">Photo is required</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Role</label>
              <select formControlName="Role" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.Role.errors }" placeholder="Role">
                <option value="" selected disabled hidden>Choose your role on this platform...</option>
                <option value="user">I'm a client</option>
                <option value="manager">I'm a manager</option>
              </select>
              <div *ngIf="submitted && f.Role.errors" class="invalid-feedback">
                <div *ngIf="f.Role.errors.required">Role is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Phone number</label>
              <input type="text" class="form-control" placeholder="375-XX-XXX-XX-XX" formControlName="Phone"
                [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }">
              <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
                <div *ngIf="f.Phone.errors.required">Phone is required</div>
                <!-- <div *ngIf="f.Phone.errors.Phone">Phone must be a valid phone number</div>  -->
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" placeholder="Email" formControlName="Email"
                [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
              <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                <div *ngIf="f.Email.errors.required">Email address is required</div>
                <div *ngIf="f.Email.errors.Email">Email must be a valid email address</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName"
                [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }">
              <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                <div *ngIf="f.FirstName.errors.required">First Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName"
                [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
              <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Sex</label>
              <select formControlName="Sex" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Sex.errors }"
                placeholder="Sex" value="0">
                <option value="" selected disabled hidden>Choose sex...</option>
                <option *ngFor="let item of sexes" [value]="item.Id">{{item.Value}}</option>
              </select>
              <div *ngIf="submitted && f.Sex.errors" class="invalid-feedback">
                <div *ngIf="f.Sex.errors.required">Sex is required</div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <label>Date of birth</label>
              <input type="date" formControlName="DateBirth" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.DateBirth.errors }" placeholder="DateBirth" />
              <div *ngIf="submitted && f.DateBirth.errors" class="invalid-feedback">
                <div *ngIf="f.DateBirth.errors.required">Date of birth is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="Password" class="form-control" placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
              <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                <div *ngIf="f.Password.errors.required">Password is required</div>
                <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>