<app-not-found *ngIf="isNotFound"></app-not-found>

<div *ngIf="!isLocationExist && isEdit && !isNotFound && !isMy" class="col-md-12">
    <div class="card-header">
        <h5 style="opacity:0.7" class="card-title">Before this you have to register your business location <a
                href="/#/dashboard-manager/location"><i>here</i></a></h5>
    </div>
</div>

<!-- -------------Table management--------------------- -->
<mat-tab-group *ngIf="!isNotFound" style="font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;">

    <mat-tab *ngIf="!isMy" style="background-color: #ffffff;">
        <ng-template mat-tab-label>
            <i class="fas fa-tasks"><span
                    style="font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;"></span></i>
        </ng-template>
        <div>
            <div class="card card-user" style="min-height: auto;">
                <div class="card-header">
                    <h5 class="card-title"><i class="far fa-edit"></i>&nbsp;&nbsp;Tables Management</h5>
                    <h5 class="card-title" style="font-size: 1.3em;  margin-top: 0; margin-bottom: 0;">Tables:
                        {{tables.length}}&nbsp;<i *ngIf="isEdit" title="Add new table"
                            style="padding: inherit; cursor: pointer;" class="fas fa-plus"
                            (click)="openModal(newTable, 'newTable')">
                        </i></h5>
                    <h5 class="card-title" style="font-size: 1.3em;  margin-top: 0; margin-bottom: 0;">Free tables:
                        {{freeTablesNow.length}}&nbsp;<i *ngIf="isEdit" title="Refresh" class="fas fa-sync-alt"
                            style="padding: inherit; cursor: pointer; " (click)="countFreeTablesNow()">
                        </i></h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tbody>
                            <ng-container *ngFor="let item of tables">
                                <tr>
                                    <td width="10%" style="text-align: center;">
                                        <div class="row">
                                            <div class="col-md-12"><i>#{{item.Number}}</i></div>
                                        </div>
                                    </td>
                                    <td width="88%">
                                        <div class="row">
                                            <div class="item text-center col-md-12">
                                                <span style="white-space: normal;">{{item.Info}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="2%">
                                        <div class="item text-center col-md-12" style="padding: 0;">
                                            <ul style="list-style:none; padding:0; margin:0;">
                                                <li *ngIf="isEdit">
                                                    <button type="submit" class="btn "
                                                        style="padding-left: 0.2rem; padding-right: 0.2rem; padding-top: 0.2rem; padding-bottom: 0.2rem;"
                                                        title="Show booking history"
                                                        (click)="openModal(openTableBooks, 'openTableBooks', item.Id)"><i
                                                            class="fas fa-history"></i></button>
                                                </li>
                                                <li *ngIf="isEdit">
                                                    <button type="submit" class="btn "
                                                        style="padding-left: 0.2rem; padding-right: 0.2rem; padding-top: 0.2rem; padding-bottom: 0.2rem;"
                                                        title="Edit"><i class="fas fa-pen"
                                                            (click)="openModal(newTable, 'editTable', item.Id)"></i></button>
                                                </li>
                                                <li *ngIf="isEdit">
                                                    <button type="submit" class="btn "
                                                        style="padding-left: 0.2rem; padding-right: 0.2rem; padding-top: 0.2rem; padding-bottom: 0.2rem;"
                                                        title="Delete" (click)="deleteTable(item.Id)"><i
                                                            class="fas fa-ban"></i></button>
                                                </li>
                                                <li *ngIf="!isEdit && item.IsFree && !item.IsHaveOrderNow">
                                                    <button type="submit" class="btn "
                                                        style="padding-left: 0.2rem; padding-right: 0.2rem; padding-top: 0.2rem; padding-bottom: 0.2rem;"
                                                        title="Start order session with this table"
                                                        (click)="startOrder(item.Id)"><i
                                                            class="fas fa-sign-in-alt"></i></button>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- ----------------Booking Management-------------------------->
    <mat-tab>
        <ng-template mat-tab-label><span style="font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;">
                <b>Booking</b></span>
        </ng-template>
        <div>
            <div class="card card-user" style="min-height: auto;">
                <div class="card-header">
                    <h5 class="card-title"><i class="far fa-edit"></i>&nbsp;&nbsp;Booking Management&nbsp;<i
                            *ngIf="isEdit && !isMy" title="Book table" style="padding: inherit; cursor: pointer;"
                            class="fas fa-plus" (click)="openModal(newBook, 'newBook')">
                        </i><i *ngIf="!isEdit && !isMy" title="Book table" style="padding: inherit; cursor: pointer;"
                            class="fas fa-plus" (click)="openModal(newBookUser, 'newBookUser')">
                        </i></h5>

                </div>
                <div class="card-body">
                    <div *ngIf="tableBookingNow.length == 0" class="col-md-12 text-center"
                        style="background-color: #79797917;">
                        History is empty
                    </div>
                    <table *ngIf="tableBookingNow.length > 0" class="table table-striped">
                        <tbody>
                            <ng-container *ngFor="let book of tableBookingNow">
                                <tr [style.background-color]="setHistoryColor(book)" title="{{book.Comment}}">
                                    <td width="30%" style="text-align: center;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i *ngIf="isMy">{{book.LocationName}} (Table
                                                    #{{book.TableNumber}})</i>&nbsp;
                                                <i *ngIf="!isMy">Table #{{book.TableNumber}}</i>&nbsp;
                                                <i *ngIf="book.IsConfirm==null && book.IsActive"
                                                    class="fas fa-exclamation" style="color:#a51e1ec0"
                                                    title="Have not been processed"></i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i>{{this.datepipe.transform(book.BookTime, 'MMMM d, h:mm a')}}</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="white-space: normal;" class="col-md-12">
                                                {{book.Client.FirstName}}&nbsp;{{book.Client.LastName}},{{book.Client.Age}}
                                            </div>
                                        </div>
                                    </td>
                                    <td width="50%" style="text-align: center;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i>{{this.datepipe.transform(book.StartTime, 'MMMM d, h:mm a')}}</i>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><i>~</i></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <i>{{this.datepipe.transform(book.EndTime, 'MMMM d, h:mm a')}}</i></div>
                                        </div>
                                    </td>
                                    <td width="20%" *ngIf="isEdit">
                                        <div class="row">
                                            <div class="item text-center col-md-12">
                                                <i *ngIf="book.IsConfirm!=null && book.IsConfirm && book.IsActive"
                                                    class="fas fa-calendar-check" style="color:#1b961f"
                                                    title="Accepted by manager"></i>
                                                <i *ngIf="book.IsConfirm!=null && !book.IsConfirm && book.IsActive"
                                                    style="color:#bd2323" class="fas fa-calendar-times"
                                                    title="Declined by manager"></i>
                                                <i *ngIf="!book.IsActive" style="color:#bd2323"
                                                    class="fas fa-calendar-minus" title="Canceled by client"></i>
                                                <button *ngIf="book.IsConfirm==null && book.IsActive && isEdit && !isMy"
                                                    type="submit" class="btn "
                                                    style="padding-left: 0.2rem; padding-right: 0.2rem; padding-top: 0.2rem; padding-bottom: 0.2rem;"
                                                    title="Accept"><i class="fas fa-check"
                                                        (click)="acceptBook(book.Id)"></i></button>
                                                <button *ngIf="book.IsConfirm==null && book.IsActive && isEdit && !isMy"
                                                    type="submit" class="btn "
                                                    style="padding-left: 0.2rem; padding-right: 0.2rem; padding-top: 0.2rem; padding-bottom: 0.2rem;"
                                                    title="Decline"><i class="fas fa-ban"
                                                        (click)="declineBook(book.Id)"></i></button>
                                                <button *ngIf="book.IsConfirm==null && book.IsActive && isMy"
                                                    type="submit" class="btn "
                                                    style="padding-left: 0.2rem; padding-right: 0.2rem; padding-top: 0.2rem; padding-bottom: 0.2rem;"
                                                    title="Cancel"><i class="fas fa-ban"
                                                        (click)="cancelBook(book.Id)"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>
<!-- --------------new table modal---------- -->
<ng-template #newTable let-modal>
    <div class="modal-header">
        <h4 *ngIf="isEditTable" class="modal-title" id="modal-basic-title"><i class="far fa-edit"></i>&nbsp;Edit your
            table info</h4>
        <h4 *ngIf="!isEditTable" class="modal-title" id="modal-basic-title"><i class="far fa-edit"></i>&nbsp;Add new
            table</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="tableForm">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Number (unique value)</label>
                        <input Title="Number" type="text" formControlName="Number" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.Number.errors }" placeholder="Number" />
                        <div *ngIf="submitted && f.Number.errors" class="invalid-feedback">
                            <div *ngIf="f.Number.errors.required">Number is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Info (size, placement & etc.)</label>
                        <input Title="Info" type="text" formControlName="Info" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.Info.errors }" placeholder="Info" />
                        <div *ngIf="submitted && f.Info.errors" class="invalid-feedback">
                            <div *ngIf="f.Info.errors.required">Info is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" (click)="onSubmitTable()" class="btn btn-primary">Save
                            changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!-- ---------new book modal---------------- -->
<ng-template #newBook let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="far fa-edit"></i>&nbsp;Book table</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="bookForm">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Start date</label>
                        <dl-date-time-picker formControlName="StartTime" startView="day" maxView="year" minView="minute"
                            minuteStep="20" [(ngModel)]="selectedStartDate">
                        </dl-date-time-picker>
                        <!-- <input type="datetime-local" formControlName="StartTime" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.StartTime.errors }" placeholder="StartTime" /> -->
                        <div *ngIf="submitted && f2.StartTime.errors" class="invalid-feedback">
                            <div *ngIf="f2.StartTime.errors.required">Start date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>End date</label>
                        <dl-date-time-picker formControlName="EndTime" startView="day" maxView="year" minView="minute"
                            minuteStep="20" [(ngModel)]="selectedEndDate">
                        </dl-date-time-picker>
                        <!-- <input type="datetime-local" formControlName="EndTime" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.EndTime.errors }" placeholder="EndTime" /> -->
                        <div *ngIf="submitted && f2.EndTime.errors" class="invalid-feedback">
                            <div *ngIf="f2.EndTime.errors.required">End date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 0.5rem;">
                    <button (click)="pickFreeTables()" class="btn btn-primary">Update free tables</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>Free tables</label>
                        <select formControlName="TableId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.TableId.errors }" placeholder="Table">
                            <!-- <option *ngIf="freeTables.length!=0" value="" selected disabled hidden>Choose a table...
                            </option>
                            <option *ngIf="freeTables.length==0" value="" selected disabled hidden>No one free table on
                                picked time</option> -->
                            <option *ngFor="let t of freeTables" value="{{t.Id}}">#{{t.Number}} ({{t.Info}})</option>
                        </select>
                        <div *ngIf="submitted && f2.TableId.errors" class="invalid-feedback">
                            <div *ngIf="f2.TableId.errors.required">Table is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Client ID</label>
                        <input type="text" formControlName="ClientId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.ClientId.errors }" placeholder="ClientId" />
                        <div *ngIf="submitted && f2.ClientId.errors" class="invalid-feedback">
                            <div *ngIf="f2.ClientId.errors.required">Client ID is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Comment</label>
                        <input type="text" formControlName="Comment" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.Comment.errors }" placeholder="Comment" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" (click)="onSubmitBook()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!-- ---------new book user modal---------------- -->
<ng-template #newBookUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="far fa-edit"></i>&nbsp;Book table</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="bookForm">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Start date</label>
                        <dl-date-time-picker formControlName="StartTime" startView="day" maxView="year" minView="minute"
                            minuteStep="20" [(ngModel)]="selectedStartDate">
                        </dl-date-time-picker>
                        <!-- <input type="datetime-local" formControlName="StartTime" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.StartTime.errors }" placeholder="StartTime" /> -->
                        <div *ngIf="submitted && f2.StartTime.errors" class="invalid-feedback">
                            <div *ngIf="f2.StartTime.errors.required">Start date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>End date</label>
                        <dl-date-time-picker formControlName="EndTime" startView="day" maxView="year" minView="minute"
                            minuteStep="20" [(ngModel)]="selectedEndDate">
                        </dl-date-time-picker>
                        <!-- <input type="datetime-local" formControlName="EndTime" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.EndTime.errors }" placeholder="EndTime" /> -->
                        <div *ngIf="submitted && f2.EndTime.errors" class="invalid-feedback">
                            <div *ngIf="f2.EndTime.errors.required">End date is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="margin-top: 0.5rem;">
                    <button (click)="pickFreeTables()" class="btn btn-primary">Update free tables</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <label>Free tables</label>
                        <select formControlName="TableId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.TableId.errors }" placeholder="Table">
                            <!-- <option *ngIf="freeTables.length!=0" value="" selected disabled hidden>Choose a table...
                            </option>
                            <option *ngIf="freeTables.length==0" value="" selected disabled hidden>No one free table on
                                picked time</option> -->
                            <option *ngFor="let t of freeTables" value="{{t.Id}}">#{{t.Number}} ({{t.Info}})</option>
                        </select>
                        <div *ngIf="submitted && f2.TableId.errors" class="invalid-feedback">
                            <div *ngIf="f2.TableId.errors.required">Table is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Client ID</label>
                        <input type="text" disabled formControlName="ClientId" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.ClientId.errors }" placeholder="ClientId" />
                        <div *ngIf="submitted && f2.ClientId.errors" class="invalid-feedback">
                            <div *ngIf="f2.ClientId.errors.required">Client ID is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Comment</label>
                        <input type="text" formControlName="Comment" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f2.Comment.errors }" placeholder="Comment" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" (click)="onSubmitBook()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<!-- ------boking history modal------------- -->
<ng-template #openTableBooks let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><i class="fas fa-history"></i>&nbsp;Table booking history</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="tableBookingHistory.length == 0" class="col-md-12 text-center" style="background-color: #79797917;">
            History is empty
        </div>
        <table *ngIf="tableBookingHistory.length > 0" class="table table-striped">
            <tbody>
                <ng-container *ngFor="let book of tableBookingHistory">
                    <tr [style.background-color]="setHistoryColor(book)" title="{{book.Comment}">
                        <td width="30%" style="text-align: center;">
                            <div class="row">
                                <div class="col-md-12"><i>{{this.datepipe.transform(book.BookTime, 'MMMM d, h:mm a')}}</i></div>
                            </div>
                            <div class=" row">
                        <div style="white-space: normal;" class="col-md-12">
                            {{book.Client.FirstName}}&nbsp;{{book.Client.LastName}},{{book.Client.Age}}
                        </div>
    </div>
    </td>
    <td width="50%" style="text-align: center;">
        <div class="row">
            <div class="col-md-12"><i>{{this.datepipe.transform(book.StartTime, 'MMMM d, h:mm a')}}</i></div>
        </div>
        <div class="row">
            <div class="col-md-12"><i>~</i></div>
        </div>
        <div class="row">
            <div class="col-md-12"><i>{{this.datepipe.transform(book.EndTime, 'MMMM d, h:mm a')}}</i></div>
        </div>
    </td>
    <td width="20%">
        <div class="row">
            <div class="item text-center col-md-12">
                <i *ngIf="book.IsConfirm && book.IsActive" class="fas fa-calendar-check"
                    title="Accepted by manager"></i>
                <i *ngIf="!book.IsConfirm && book.IsActive" class="fas fa-calendar-times"
                    title="Declined by manager"></i>
                <i *ngIf="!book.IsConfirm && !book.IsActive" class="fas fa-calendar-minus"
                    title="Canceled by client"></i>
                <i *ngIf="book.IsConfirm==null" class="fas fa-ban" title="Рas not been processed"></i>
            </div>
        </div>
    </td>
    </tr>
    </ng-container>
    </tbody>
    </table>
    </div>
</ng-template>
<!-- ////////////////////////////////////////// -->