.card-user .card-body {
  min-height: 0 !important;
}
.avatar-mini {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 3rem;
  max-height: 3rem;
  border-color: #ffffff;
  border-width: 2px;
  border-radius: 50%;
}
